[user]
	email = 17216462+Natch@users.noreply.github.com
	name = Satoru_Murata
[color]
	ui = auto
[core]
	excludesfile = /Users/satoru/.gitignore_global
[commit]
	template = /Users/satoru/Git/git-config/.commit_template
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[alias]
	push-f = push --force-with-lease
	co = checkout
  s = status
[pull]
	rebase = true
