[user]
  email = 17216462+Natch@users.noreply.github.com
  name = Satoru

[color]
  i = auto

[core]
  excludesfile = /Users/satoru/.gitignore_global

[commit]
  template = /Users/satoru/Git/git-config/.commit_template

[alias]
  push-f = push --force-with-lease
  pl = !git pull origin `git rev-parse --abbrev-ref HEAD`
  ps = !git push origin `git rev-parse --abbrev-ref HEAD`
  co = checkout
  b = branch
  dmbr = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"
  cm = commit
  s = status
  graph = log --graph --all --oneline

[pull]
  rebase = true
